* {
    margin: 0;
    color: rgba(255, 255, 255, 0.9);
}
body {
    background-color: #121212;
    background-image: url("../img/bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    line-height: 1.5;  
    position:relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
}
#content {
    position: relative;
}
header {
    box-shadow: 0px 5px 10px rgb(42,117,187);
}
h1 {
    font-size: 40px;
    color: rgb(255,203,5);
    text-align: center;
    padding: 40px 0;
    font-family: 'Rubik 80s Fade', cursive;
    text-shadow: 0px 10px 10px rgb(42,117,187);
}

/*----------------MAIN 1: SEARCH OPTION------------*/
#main-1 {
    text-align: center;
    margin: 60px 0px
}
input {
    font-size: 20px;
    background-color: #1d1c1b;
    padding: 10px;
}
#text-form {
    font-style: italic;
    color: antiquewhite;
}
.submit {
    cursor: pointer;
    border-radius: 1em;
    margin-left: 1em;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.6);
}

/*---------------MAIN 2: 151 GRID POKEMONS----------*/
/*using display grid instead of flex because the last line of flex is not left aligned when we don't have enough of item*/
#main-2 {
    display: grid;
    grid-template-columns: repeat(auto-fill,150px);
    justify-content: space-evenly;
    column-gap: 10px;
    row-gap: 20px;
}
.pokemon-card {
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.6);
    text-align: center;
    cursor: pointer;
}
.pokemon-card:hover {
    animation-name: shaking;
    animation-duration: 0.6s;
    border: 2px solid rgba(255, 222, 0, 0.7);
    box-shadow: 5px 5px 10px rgba(255, 222, 0, 0.7);
}
.pokemon-image {
    width: 80%
}
.pokemon-image:hover {
    transition-delay: 0.1s;
    transform: rotate3d(0,1,0,180deg) scale(2)
}
.pokemon-name {
    text-transform: capitalize;
    margin-bottom: 20px;
    font-family: 'Secular One', sans-serif;
}

/*----------------------MODAL-----------------------*/
.modal-container {
    font-size: 28px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(45, 30, 98, 0.5);
}
.modal-container.show {
    opacity: 1;
    pointer-events: visible;
}
.modal {
    background-color: rgba(45, 30, 98);
    position: relative;
    width: 50%;
    height: 50%;
    text-align: center;
    border: 2px solid #10072c;
    box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.6);
}
.modal button {
    color:rgba(45, 30, 98);
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer
}
.modal-name {
    text-transform: uppercase;
    background-color: #10072c;
    padding: 10px 60px 10px 10px;
    text-align: right;
    font-size: 25px;
}
.modal-image {
    height: 150px;
    width: 150px;
}
.modal-text {
    text-transform: capitalize;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.left {
    flex-basis: 20%;
    margin-left: 10%;
    text-align: left;
}
.right {
    flex-basis: 70%;
    font-style: italic; 
    text-align: left;
}

/*------------------ANIMATION--------------------*/
@keyframes shaking {
    0%{
        transform: translate3d(0px,2px,3px);
        background-color: rgba(255, 255, 0, 0.2);
    }
    20%{
        transform: translate3d(0px,-4px,-3px);
        background-color: rgba(255, 255, 0, 0.4);

    }
    40%{
        transform: translate3d(2px,0px,3px);
        background-color: rgba(255, 255, 0, 0.6);
    }
    60%{
        transform: translate3d(-4px,0px,-3px);
        background-color: rgba(255, 255, 0, 0.8);
    }
    80%{
        transform: translate3d(1px,1px,2px);
        background-color: rgba(255, 255, 0, 0.6);
    }
    100%{
        transform: translate3d(-1px,-1px,-2px);
        background-color: rgba(255, 255, 0, 0.3);
    }
}

/*-------------------MEDIA QUERY------------------*/
@media screen and (max-width: 600px) {
    body {
        line-height: 1.2;
    }
    .modal {
        width: 100vh;
        height: 100vw;
        font-size: 15px;
    }
    .left {
        margin-left: 5%;
    }
    .right {
        margin-left: 5%
    }
}